flows.json
[{"id":"b1cd5e83.7c18e","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"ca296f9d.ac24d","type":"ui_form","z":"b1cd5e83.7c18e","name":"","label":"","group":"6a64d386.abdf6c","order":1,"width":0,"height":0,"options":[{"label":"Year","value":"a","type":"number","required":true,"rows":null},{"label":"Adult Mortality\t","value":"b","type":"number","required":true,"rows":null},{"label":"infant deaths","value":"c","type":"number","required":true,"rows":null},{"label":"Alcohol","value":"d","type":"number","required":true,"rows":null},{"label":"Percentage expenditure","value":"e","type":"number","required":true,"rows":null},{"label":"Hepatitis B","value":"f","type":"number","required":true,"rows":null},{"label":"Measles","value":"g","type":"number","required":true,"rows":null},{"label":"BMI","value":"h","type":"number","required":true,"rows":null},{"label":"under-five deaths","value":"i","type":"number","required":true,"rows":null},{"label":"Polio","value":"j","type":"number","required":true,"rows":null},{"label":"Total expenditure","value":"k","type":"number","required":true,"rows":null},{"label":"Diphtheria","value":"l","type":"number","required":true,"rows":null},{"label":"HIV/AIDS","value":"m","type":"number","required":true,"rows":null},{"label":"GDP","value":"n","type":"number","required":true,"rows":null},{"label":"Population","value":"o","type":"number","required":true,"rows":null},{"label":"thinness 1-19 years","value":"p","type":"number","required":true,"rows":null},{"label":"thinness 5-9 years","value":"q","type":"number","required":true,"rows":null},{"label":"income composition of resources","value":"r","type":"number","required":true,"rows":null},{"label":"Schooling","value":"s","type":"number","required":true,"rows":null}],"formValue":{"a":"","b":"","c":"","d":"","e":"","f":"","g":"","h":"","i":"","j":"","k":"","l":"","m":"","n":"","o":"","p":"","q":"","r":"","s":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":70,"y":100,"wires":[["1b037d80.9eb023"]]},{"id":"1b037d80.9eb023","type":"function","z":"b1cd5e83.7c18e","name":"pre token","func":"//make user given values as global variables\nglobal.set(\"a\",msg.payload.a);\nglobal.set(\"b\",msg.payload.b);\nglobal.set(\"c\",msg.payload.c);\nglobal.set(\"d\",msg.payload.d);\nglobal.set(\"e\",msg.payload.e);\nglobal.set(\"f\",msg.payload.f);\nglobal.set(\"g\",msg.payload.g);\nglobal.set(\"h\",msg.payload.h);\nglobal.set(\"i\",msg.payload.i);\nglobal.set(\"j\",msg.payload.j);\nglobal.set(\"k\",msg.payload.k);\nglobal.set(\"l\",msg.payload.l);\nglobal.set(\"m\",msg.payload.m);\nglobal.set(\"n\",msg.payload.n);\nglobal.set(\"o\",msg.payload.o);\nglobal.set(\"p\",msg.payload.p);\nglobal.set(\"q\",msg.payload.q);\nglobal.set(\"r\",msg.payload.r);\nglobal.set(\"s\",msg.payload.s);\n//following are required to receive a token\nvar apikey=\"TGGD9zh9vnyM7l2LQ-lPdh7hMj2J35mi6kPadVh7OMfl\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"};\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey};\nreturn msg;\n","outputs":1,"noerr":0,"x":220,"y":100,"wires":[["5a6635c2.6fc4dc"]]},{"id":"633cb764.ca5d68","type":"http request","z":"b1cd5e83.7c18e","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://us-south.ml.cloud.ibm.com/v3/wml_instances/8020b589-6a89-46fb-b1ac-988876d16472/deployments/9fc9d020-69d2-4081-b857-6d7c3dd9422c/online","tls":"","persist":false,"proxy":"","authType":"","x":470,"y":180,"wires":[["c5b239cf.2263c8","d6f11084.1ecd7"]]},{"id":"f4373318.1d52d","type":"debug","z":"b1cd5e83.7c18e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":750,"y":280,"wires":[]},{"id":"d6f11084.1ecd7","type":"function","z":"b1cd5e83.7c18e","name":"getFrom Endpoint","func":"msg.payload=msg.payload.values[0][0];\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":280,"wires":[["f4373318.1d52d","edd0bd91.21eba"]]},{"id":"c5b239cf.2263c8","type":"debug","z":"b1cd5e83.7c18e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":710,"y":180,"wires":[]},{"id":"7f3144d9.6596bc","type":"function","z":"b1cd5e83.7c18e","name":"sendTo Endpoint","func":"//get token and make headers\nvar token=msg.payload.access_token;\nvar instance_id=\"8020b589-6a89-46fb-b1ac-988876d16472\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\n\n//get variables that are set earlier\nvar a = global.get(\"a\");\nvar b = global.get(\"b\");\nvar c = global.get(\"c\");\nvar d = global.get(\"d\");\nvar e = global.get(\"e\");\nvar f = global.get(\"f\");\nvar g = global.get(\"g\");\nvar h = global.get(\"h\");\nvar i = global.get(\"i\");\nvar j = global.get(\"j\");\nvar k = global.get(\"k\");\nvar l = global.get(\"l\");\nvar m = global.get(\"m\");\nvar n = global.get(\"n\");\nvar o = global.get(\"o\");\nvar p = global.get(\"p\");\nvar q = global.get(\"q\");\nvar r = global.get(\"r\");\nvar s = global.get(\"s\");\n//send the user values to service endpoint\nmsg.payload = \n{\"fields\":[\"Year\",\"Adult Mortality\",\n\"infant deaths\",\"Alcohol\",\n\"Percentage expenditure\",\"Hepatitis B\",\"Measles\",\"BMI\",\"under-five deaths\",\n\"Polio\",\"Total expenditure\",\"Diptheria\",\"HIV/AIDS\",\"GDP\",\n\"Population\",\"thinness 1-19 years\",\"thinness 5-9 years\",\"income composition of resources\",\"Schooling\"],\n\"values\":[[a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r,s]]};\n\nreturn msg;\n","outputs":1,"noerr":0,"x":210,"y":180,"wires":[["633cb764.ca5d68"]]},{"id":"5a6635c2.6fc4dc","type":"http request","z":"b1cd5e83.7c18e","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"basic","x":370,"y":100,"wires":[["7f3144d9.6596bc"]]},{"id":"edd0bd91.21eba","type":"ui_text","z":"b1cd5e83.7c18e","group":"6a64d386.abdf6c","order":2,"width":0,"height":0,"name":"","label":"Prediction","format":"{{msg.payload}}","layout":"row-center","x":720,"y":400,"wires":[]},{"id":"6a64d386.abdf6c","type":"ui_group","z":"","name":"Machine Learning Model","tab":"6ef6996b.4ffca8","order":1,"disp":true,"width":"6","collapse":false},{"id":"6ef6996b.4ffca8","type":"ui_tab","z":"","name":"Home Page","icon":"dashboard","disabled":false,"hidden":false}]